<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>780609533206-felv0hujula80q36r5jdhip1t3gt0b7g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.780609533206-felv0hujula80q36r5jdhip1t3gt0b7g</string>
	<key>API_KEY</key>
	<string>AIzaSyAnH4hyAaZrlc0f0mOhpkoxEWz5Un25lnY</string>
	<key>GCM_SENDER_ID</key>
	<string>780609533206</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ecemakcay.NewsApp</string>
	<key>PROJECT_ID</key>
	<string>newsapp-5cfbf</string>
	<key>STORAGE_BUCKET</key>
	<string>newsapp-5cfbf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:780609533206:ios:4e209ac998e1ec2f6e4c37</string>
</dict>
</plist>